.fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.container {
    padding: 10px;
    border: 1px solid brown;
    height: 500px;
    position: relative;
}